@model Mobile

@{
    ViewData["Title"] = "Mobile Delete";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.MobileName
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.MobilePictureURL" width="100%" alt="@Model.MobileName">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"><b>Processor: </b>@Model.Processor</p>
                        <p class="card-text"><b>RAM: </b>@Model.RAM</p>
                        <p class="card-text"><b>Camera: </b>@Model.Camera</p>
                        <p class="card-text"><b>Screen: </b>@Model.Screen</p>
                        <p class="card-text"><b>Battery: </b>@Model.Battery</p>
                        <p class="card-text"><b>Company: </b>@Model.CompanyId</p>
                        <p class="card-text"><b>Operating: </b>@Model.OperatingId</p>
                        <div class="form-group">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                            </form>
                            <a class="btn btn-outline-secondary" asp-action="Index">
                                Show All
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>