@model Mobile

@{
    ViewData["Title"] = "Mobile details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.MobileName
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.MobilePictureURL" width="100%" alt="@Model.MobileName">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Processor</p>
                        <p class="card-text">@Model.RAM</p>
                        <p class="card-text">@Model.Camera</p>
                        <p class="card-text">@Model.Screen</p>
                        <p class="card-text">@Model.Battery</p>
                        <p class="card-text">
                            <b>Company: </b>
                            <a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.CompanyId">
                                @Model.Company.CompanyName
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Operating System: </b>
                            <a asp-controller="Operatings" asp-action="Details" asp-route-id="@Model.OperatingSystemId">
                                @Model.Operating_System.Operating_SystemName
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>