@model IEnumerable<Mobile>

@{
    ViewData["Title"] = "List of Mobiles";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 750px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="badge-info bi-pencil-square">

                                        </i>
                                    </a>
                                    @item.Company.CompanyName @item.MobileName
                                    <br>
                                    <b>Price: </b>@item.Price
                                    
                                    <a class="text-danger float-right" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="bi bi-trash-fill">
                                            
                                        </i>
                                    </a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img style="width:150px; height:150px;" src="@item.MobilePictureURL" width="100%" alt="@item.MobileName">
                        <p class="card-text"><b>Company: </b>@item.Company.CompanyName</p>
                        <p class="card-text"><b>Operating: </b>@item.Operating.OperatingName</p>
                        <p class="card-text"><b>Camera: </b>@item.Camera</p>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">

                            <p class="card-text"><b>Processor: </b>@item.Processor</p>
                            <p class="card-text"><b>RAM: </b>@item.RAM</p>
                            <p class="card-text"><b>Screen: </b>@item.Screen</p>
                            <p class="card-text"><b>Battery: </b>@item.Battery</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill">

                                    </i>
                                    Show Details
                                </a>
                                <a class="btn btn-success text-white">
                                    <i class="bi bi-cart-plus">

                                    </i>
                                    Add to Cart
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@await Html.PartialAsync("_CreateItem", "Mobile") 